<div class="main-content">
  <div class="container-fluid">
            <div class="card card-accent-primary">

              
                <div class="card-header card-header-danger">

                  <h4 style="display: inline-block;font-weight: bold" class="card-title ">Customers</h4>

                  </div>

        

                  <mat-tab-group>
                      <mat-tab>

                              <ng-template mat-tab-label>
                                      <mat-icon style="color:#42a72e !important" class="example-tab-icon">assignment_turned_in</mat-icon>
                                      <span style="vertical-align: top; margin-left:5px"> Subscribed  </span> 
                              </ng-template>



                              <div  class="card-body">


                                  <mat-form-field style="width:90%;margin-left:20px;">
                                      <input #search1 matInput placeholder="Search..." formControlName="Search" autocomplete="off">
                                  </mat-form-field>
                                  
                            <div class="table">
                              
                                <div class="row header">
                                    <div class="cell">Name</div>
                                    <div class="cell">Email</div>
                                    <div class="cell">Sign-Up Date</div>
                                    <div class="cell">Last Login</div>
                                    <!-- <div class="cell">widgetsCount</div>
                                    <div class="cell">subscription</div> -->
                                </div>

                                
                                <ng-container *ngIf="(customers$ | async) as customers; else loading">

                                <div *ngFor="let customer of Filter(customers,search1.value)" class="row">
                                        <div class="cell" data-title="name">
                                            <a matTooltip="View Details" style="text-decoration:underline;color:blue;cursor: pointer;" (click)="ViewDetail(customer)">
                                              {{customer.name}}
                                            </a>  
                                        </div>
                                        <div class="cell" data-title="Email">
                                          {{customer.email}}
                                        </div>   
                                        <div class="cell" data-title="creationDateTime">
                                          {{customer.creationDateTime | date : 'yyyy/MM/dd [HH:mm]'}}
                                        </div>
                                        <div class="cell" data-title="lastLogin">
                                          {{customer.lastLogin | date : 'yyyy/MM/dd [HH:mm]'}}
                                        </div>
                                        <!-- <div class="cell" data-title="widgetsCount">
                                            {{customer.widgetsCount}}
                                          </div>
                                          <div class="cell" data-title="subscription">
                                            {{customer.subscription}}
                                          </div> -->
                                                                                                                                                                                                    
                                </div>
                                </ng-container>

                                                        
                                <ng-template #loading>
                                  <div style="margin-left: 10px ; margin-top:20px;margin-bottom:20px; ">
                                      <div class="spinner">
                                          <div class="bounce1"></div>
                                          <div class="bounce2"></div>
                                          <div class="bounce3"></div>
                                      </div>
                                  </div>
                                </ng-template>

                        </div>

                </div><!--/.row-->
                    </mat-tab>
                    <mat-tab>

                            <ng-template mat-tab-label>
                                    <mat-icon style="color:gray !important" class="example-tab-icon">assignment_late</mat-icon>
                                    <span style="vertical-align: top; margin-left:5px"> Non-Subscribed </span> 
                            </ng-template>
                            <div  class="card-body">

                                <mat-form-field style="width:90%;margin-left:20px;">
                                    <input #search2 matInput placeholder="Search..." formControlName="Search" autocomplete="off">
                                </mat-form-field>
  

                                <div class="table">
                                  
                                    <div class="row header">
                                        <div class="cell">Name</div>
                                        <div class="cell">Email</div>
                                        <div class="cell">SignUp Date Time</div>
                                        <div class="cell">Last Login</div>
                                        <!-- <div class="cell">widgetsCount</div>
                                        <div class="cell">subscription</div> -->
                                    </div>
    
                                    
                                    <ng-container *ngIf="(customersNo$ | async) as customers; else loading">
    
                                    <div *ngFor="let customer of Filter(customers,search2.value)" class="row">
                                            <div class="cell" data-title="name">
                                                  {{customer.name}}
                                            </div>
                                            <div class="cell" data-title="Email">
                                              {{customer.email}}
                                            </div>   
                                            <div class="cell" data-title="creationDateTime">
                                              {{customer.creationDateTime | date : 'yyyy/MM/dd [HH:mm]'}}
                                            </div>
                                            <div class="cell" data-title="lastLogin">
                                              {{customer.lastLogin | date : 'yyyy/MM/dd [HH:mm]'}}
                                            </div>
                                            <!-- <div class="cell" data-title="widgetsCount">
                                                {{customer.widgetsCount}}
                                              </div>
                                              <div class="cell" data-title="subscription">
                                                {{customer.subscription}}
                                              </div> -->
                                                                                                                                                                                                        
                                    </div>
                                    </ng-container>
    
                                                            
                                    <ng-template #loading>
                                      <div style="margin-left: 10px ; margin-top:20px;margin-bottom:20px; ">
                                          <div class="spinner">
                                              <div class="bounce1"></div>
                                              <div class="bounce2"></div>
                                              <div class="bounce3"></div>
                                          </div>
                                      </div>
                                    </ng-template>
    
                            </div>
    
                    </div><!--/.row-->
                  </mat-tab>
                </mat-tab-group> 

              </div>
 
          </div>
</div>

      