


<div class="app-header" align="center">
<img id="img-logo" src="../../../assets/img/brand/TalktoLeadsNow.png" [class]="this.imageLogoClass">
</div>  

<div class="app-body">    
  <div class="container-fluid">
    <main class="main">
     <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div id="mycard-group" [class]="this.cardLogoClass">
            <div class="card p-4">
              <div class="card-body card card-accent-primary">
                <form (ngSubmit)="onSubmit(username.value,password.value,rememberme.checked)" name="loginForm">
                  <h2>Login</h2>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input required type="email" #username id="username" [disabled]="isSubmit" class="form-control" placeholder="Your Email" autocomplete="email">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" #password id="password" name="password" required [disabled]="isSubmit" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="input-group mb-4">
                      <div class="input-group-prepend">
                          <mat-slide-toggle  #rememberme style="margin-right:20px" labelPosition="after" [checked]="false">Remember me</mat-slide-toggle>

                  </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary px-4" [disabled]="isSubmit" >Login</button>
                    </div>
                    <div class="col-3">
                        <div class="spinner"  *ngIf="isSubmit">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                          </div>
                    </div>
                    <div class="col-3 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="forgotpassword()">Forgot password?</button>
                    </div>
                  </div>
                 


                  <!-- <div align ="center" *ngIf="isSubmit">
                      <mat-spinner  color="primary" diameter="30"></mat-spinner>
                    </div> -->
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Are you a new customer?<p>


                  <p> Click 'Register Now' and become a member of TalkToLeadsNow within just a few seconds for FREE! </p>
                  <button type="button" class="btn btn-primary active mt-3" (click)="register()">Register Now!</button>
                </div>
              </div>
              
            </div>
            
          </div>

          
              <a class="shiny fadeIn animated" href="#" [routerLink]="'/register'">
                SignUp Now!
                <i class="i-shiny"></i>
              </a>
          
        </div>
        
      </div>
      
    </div>
    
  </main>
  
  </div>
  
  </div>

  <div id="myfooter" [class]="this.footerClass">
      <span><a href="http://www.TalkToLeadsNow.com" target="_blank" >TalkToLeadsNow</a> &copy; {{this.today | date: 'yyyy'}}.</span>
      <span class="ml-auto">Powered by <a href="https://www.dubseo.co.uk/" target="_blank">DubSEO</a></span>
  </div>