<div class="animated fadeIn">
    <div class="main-content">
        <div class="container-fluid">
            <div class="card card-accent-primary">

                <div class="card-header card-header-danger">

                    <h4 style="display: inline-block;font-weight: bold" class="card-title ">Widgets</h4>
  
                    </div>

                    <mat-tab-group #mat [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = mat.selectedIndex">
                            <mat-tab label="New Widgets">

              <div  class="card-body">
                            <div class="table">
                              
                                <div class="row header">
                                    <div class="cell">ID</div>
                                    <div class="cell">User Name</div>
                                    <div class="cell">Widget Name</div>
                                    <div class="cell">Phone Number</div>
                                    <div class="cell">API Key</div>
                                    <div class="cell">Extension</div>
                                    <div class="cell">Action</div>

                                </div>

                                <ng-container *ngIf="(userwidgets$ | async) as userwidgets; else loading1">

                                <div *ngFor="let userwidget of userwidgets" [class]="userwidget.id==lastChangeRow ? 'highlight' : 'row'">
                                        <div [title]="userwidget.id" class="cell" data-title="ID">
                                          {{userwidget.id.substring(0,5)+'...'}}
                                        </div>
                                        <div class="cell" data-title="username">
                                          {{userwidget.email}}
                                        </div>   
                                        <div class="cell" data-title="widgetName">
                                          {{userwidget.widgetName}}
                                        </div>
                                        <div class="cell" data-title="userPhoneNumber">
                                          {{userwidget.connectedTo}}
                                        </div>
                                        <div class="cell" data-title="apiKey">
                                          <input [disabled]="saving == userwidget.id" #apikey1 class="textbox-cell" [value]="userwidget.authKey" type="text" matInput autocomplete="off">
                                        </div>
                                        <div class="cell" data-title="extensionNumber">
                                                <input  [disabled]="saving == userwidget.id"  #extension1 class="textbox-cell" [value]="userwidget.extension"  type="text" matInput  autocomplete="off">
                                        </div>    
                                        <div *ngIf="!saving || saving != userwidget.id " class="cell" data-title="extensionNumber">
                                            <button  class="button-cell" (click)="Save(userwidget.id,apikey1.value,extension1.value)"> Save </button>
                                        </div>  
                                        <div *ngIf="saving == userwidget.id" class="cell" data-title="extensionNumber">
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>  


                                </div>
                                </ng-container>
                                <ng-template #loading1>
                                    <div style="margin-left: 10px ; margin-top:20px;margin-bottom:20px; ">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                  </ng-template>


                             </div>

                

    
                </div><!--/.row-->

                    </mat-tab>
                    <mat-tab label="History">
                        <div class="card-body">
                            
                                        <div class="table">
                                          
                                            <div class="row header">
                                                <div class="cell">ID</div>
                                                <div class="cell">User Name</div>
                                                <div class="cell">Widget Name</div>
                                                <div class="cell">Phone Number</div>
                                                <div class="cell">API Key</div>
                                                <div class="cell">Extension</div>
                                                <div class="cell">Action</div>

                                            </div>
            
                                            <ng-container *ngIf="(userwidgets2$ | async) as userwidgets; else loading2">

                                            <div *ngFor="let userwidget of userwidgets" [class]="userwidget.id==lastChangeRow ? 'highlight' : 'row'">
                                                <div [title]="userwidget.id" class="cell" data-title="ID">
                                                    {{userwidget.id.substring(0,5)+'...'}}
                                                  </div>
                                                   <div class="cell" data-title="username">
                                                      {{userwidget.email}}
                                                    </div>   
                                                    <div class="cell" data-title="widgetName">
                                                      {{userwidget.widgetName}}
                                                    </div>
                                                    <div class="cell" data-title="userPhoneNumber">
                                                      {{userwidget.connectedTo}}
                                                    </div>
                                                    <div  class="cell" data-title="widgetName">
                                                      {{userwidget.authKey}}
                                                    </div>
                                                    <div  class="cell" data-title="userPhoneNumber">
                                                      {{userwidget.extension}}
                                                    </div>
                                                    <!-- <div *ngIf="editWidgetID==userwidget.id" class="cell" data-title="apiKey">
                                                      <input #apikey2 class="textbox-cell" type="text" [value]="userwidget.authKey" matInput autocomplete="off">
                                                    </div>
                                                    <div *ngIf="editWidgetID==userwidget.id" class="cell" data-title="extensionNumber">
                                                       <input #extension2  class="textbox-cell" type="text" [value]="userwidget.extension"  matInput  autocomplete="off">
                                                    </div>     -->
                                                    <div *ngIf="editWidgetID!=userwidget.id"  class="cell" data-title="extensionNumber">
                                                            <button  class="button-cell-edit" (click)="Edit(userwidget.id)"> Reset </button>
                                                    </div>  
                                                    <!-- <div *ngIf="editWidgetID==userwidget.id && !saving"  class="cell" data-title="extensionNumber">
                                                            <button  class="button-cell" (click)="Edit(userwidget.id,apikey2.value,extension2.value)"> Save </button>
                                                    </div>   -->
                                                    <div *ngIf="editWidgetID==userwidget.id && saving "  class="cell" data-title="extensionNumber">
                                                        <div class="spinner">
                                                            <div class="bounce1"></div>
                                                            <div class="bounce2"></div>
                                                            <div class="bounce3"></div>
                                                        </div>
                                                    </div>  

                                            </div>
                                            </ng-container>
                                            <ng-template #loading2>
                                                <div style="margin-left: 10px ; margin-top:20px;margin-bottom:20px; ">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                              </ng-template>

                                         </div>    
                        </div><!--/.row-->
                    </mat-tab>
                  </mat-tab-group> 

              </div>
 
          </div><!--/.col-->

    </div>
</div>

      