<div class="app-header" align="center">
    <img src="../../../assets/img/brand/TalktoLeadsNow.png" class="img-logo">
    </div>  
    <div class="app-body">    
      <div class="container-fluid">
        <main class="main">
         <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card-group">
                <div class="card p-4">
                  <div *ngIf="result==1" class="card-body card card-accent-primary">
                    <form (submit)="onSubmit(password.value,rpassword.value)" name="loginForm">
                      <h2>Reset Password</h2>
                      <p style="margin-top: 20px !important" class="text-muted">Choose a new password</p>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input required type="password" #password id="password" [disabled]="isSubmit" class="form-control" placeholder="Password" autocomplete="off">
                      </div>
    
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                          </div>
                          <input required type="password" #rpassword id="rpassword" [disabled]="isSubmit" class="form-control" placeholder="Repeat Password" autocomplete="off">
                        </div>

                      <div class="row">
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4">Submit</button>
                        </div>
                        <div class="col-6 text-right">
                          <button type="button" class="btn btn-link px-0" (click)="login()">Back to login</button>
                        </div>
                      </div>
                      <div  *ngIf="isSubmit" class="row">
                          <div class="col-6">
                            <div class="spinner" >
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                              </div>
                          </div>
                        </div>
                          </form>
                  </div>
                  <div *ngIf="result==-1" class="card-body card card-accent-primary">
                      <img src="../../../assets/img/icon/error-icon.png" width="32px">
                      <p style="text-align: justify; font-weight: bold; margin-top: 10px !important" class="text">
                                    Your link is invalid or has been expired! 
                      </p>

                      <div class="row">
                          <div class="col-12 text-center">
                            <button type="button" class="btn btn-link px-0" (click)="resetPassword()">Forgot Password?</button>
                          </div>
                        </div>

                 </div>

                  <div *ngIf="result==0" class="card-body card card-accent-primary">
                      <div class="spinner" >
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                          Loading
                  </div>

                  </div>


                </div>
                <div style="padding-top:0px !important;" class="card text-white bg-primary d-md-down-none" style="width:44%">
                  <div *ngIf="result==1" class="card-body text-center animated fadeIn">
                    
                      <img style="margin-top:60px !important;vertical-align: top !important" width="150px" src="../../../assets/img/avatars/lock.png">

                  </div>


                  <div *ngIf="result==-1" class="card-body text-center animated fadeIn">
                                
                      <img style="margin-top:0 !important;vertical-align: top !important" width="150px" src="../../../assets/img/avatars/sorry-face.png">
                      <div align="center" class="text-steps">
                                    <div  style="margin-top:20px !important;">
                                   <span> Sorry!</span>
                                 </div>
                      </div>
                  </div>
                  
                </div>
                  
 

              </div>
              
            </div>
            
          </div>
          
        </div>
        
      </main>
      
      </div>
      
      </div>
    
      <div class="app-footer">
          <span><a href="http://www.TalkToLeadsNow.com" target="_blank" >TalkToLeadsNow</a> &copy; {{this.today | date: 'yyyy'}}.</span>
          <span class="ml-auto">Powered by <a href="https://www.dubseo.co.uk/" target="_blank">DubSEO</a></span>
      </div>