
<!-- <div class="text-welcome fadeIn animated">Welcome {{this.NameOfUser}} </div> -->

<!-- <div class="spinner fadeIn animated">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
 </div> -->

 <div class="loading-body">

 <div class="logo-welcome animate-pop-in">
         <img width="350px" src="../../../assets/img/brand/TalktoLeadsNow.png">
 </div> 

 <div style="font-size:16px; margin-top:10px ;text-align: center;color:gray" class="fadeIn animated">
 loading...
</div>


 <div class="loading fadeIn animated">
       <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
 </div>
 
</div>