<div class="main-content">
        <div class="container-fluid">
                  <div class="card card-accent-primary">
                    
                      <div class="card-header card-header-danger">
      
                        <h4 style="display: inline-block;font-weight: bold" class="card-title ">My Calls</h4>
      
                        </div>
      
                    <div style="height: 400px;" class="card-body">



                            <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
                                    <mat-accordion>
                                        <mat-expansion-panel class="expansion-search" (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Advanced Search...
                                            </mat-panel-title>
                                            <mat-panel-description>
                                              {{panelOpenState ? 'click to collapse' : 'click to expand'}}
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                      
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput autocomplete="off" #fromdate [matDatepicker]="myDatepicker"
                                                    placeholder="From Date" [formControl]="fromDateControl">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="myDatepicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #myDatepicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                        
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput autocomplete="off"  #untildate [matDatepicker]="myDatepicker2"
                                                    placeholder="Until Date" [formControl]="untilDateControl">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="myDatepicker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #myDatepicker2></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                    <mat-select autocomplete="off"  placeholder="Widget" [formControl]="selectedWidgetControl">
                                                            <mat-option value=null>
                                                                -- All Widgets --
                                                            </mat-option>
                                                            <mat-option *ngFor="let item of WidgetNames" [value]="item.extension">
                                                              {{item.widgetName}}
                                                            </mat-option>
                                                    </mat-select>                      
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <button  #resetbutton mat-raised-button class="btn btn-default" style="margin-right:5px" (click)="this.ResetSearch()"> RESET</button>
                                            <button  #searchbutton mat-raised-button class="btn btn-primary" (click)="this.Search()" > SEARCH</button>
                        
                                        </div>
                            
                                    </div>
                        
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                    </div>
        


                        <div class="table">                          
                            <div class="myrow header">
                                <div class="cell">#</div>
                                <div class="cell">Time</div>
                                <div class="cell">Extension</div>
                                <div class="cell">Source</div>
                                <div class="cell">Destination</div>
                                <div class="cell">Duration</div>
                            </div>

                            <ng-container *ngIf="(callreports$ | async) as callreports; else loading1">

                            <div style="text-align: center;color:gray" *ngIf="callreports.length == 0">
                                    No records
                            </div>    

                            <div *ngFor="let call of this.filterRecords(callreports); let rowIndex = index" class="myrow">
                                    <div class="cell" data-title="#">
                                      {{rowIndex+1}}
                                    </div>
                                    <div class="cell" data-title="Time">
                                      {{call.time | date : 'yyyy/MM/dd [HH:mm]'}}
                                    </div>   
                                    <div class="cell" data-title="Extension">
                                      {{call.extension}}
                                    </div>
                                    <div class="cell" data-title="Source">
                                      {{call.source}}
                                    </div>
                                    <div class="cell" data-title="Destination">
                                        {{call.destination}}
                                    </div>
                                    <div class="cell" data-title="Duration">
                                        {{call.duration}}
                                    </div>    
                            </div>

                        </ng-container>
                        <ng-template #loading1>
                                <div style="margin-left: 10px ; margin-top:20px;margin-bottom:20px; ">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                         </ng-template>


                         </div>

                    </div>
                </div>
        </div>
      </div>
      
            