.dropdown-times {
    position: relative !important;
    display: block !important;
    max-width: 400px !important;
    min-width: 180px !important;
    margin: 0 auto !important;
    border: 1px solid #3C1C78 !important;
    background-color: #16013E !important;
    z-index: 10 !important;
  }
  .dropdown-times select {
    border: none !important;
    outline: none !important;
    background: transparent !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    display: block !important;
    width: 100% !important;
    padding: 12px 55px 15px 15px !important;
    font-size: 14px !important;
    color: #714BB9 !important;
  }
  .dropdown-times:after {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 50px !important;
    height: 100% !important;
    line-height: 38px !important;
    content: "∨" !important;
    text-align: center !important;
    color: #714BB9 !important;
    font-size: 24px !important;
    border-left: 1px solid #3C1C78 !important;
    z-index: -1 !important;
  }
  