<div class="app-header" align="center">
    <img src="../../../assets/img/brand/TalktoLeadsNow.png" class="img-logo">
    </div>  
    <div class="app-body">    
      <div class="container-fluid">
        <main class="main">
         <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card-group">
                <div class="card p-4">
                  <div class="card-body card card-accent-primary">
                    <form (submit)="onSubmit(username.value)" name="loginForm">
                      <h2>Reset Password</h2>
                      <p style="margin-top: 20px !important" class="text-muted">Enter your email</p>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input required type="email" #username id="username" [disabled]="isSubmit" class="form-control" placeholder="Your Email" autocomplete="email">
                      </div>
    
                      <div class="row">
                        <div class="col-6">
                          <button type="submit" [disabled]="isSubmit" class="btn btn-primary px-4">Submit</button>
                        </div>
                        <div class="col-6 text-right">
                          <button type="button" class="btn btn-link px-0" (click)="login()">Back to login</button>
                        </div>
                      </div>
                      <div  *ngIf="isSubmit" class="row">
                          <div class="col-6">
                            <div class="spinner" >
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                              </div>
                          </div>
                        </div>
                          </form>
                  </div>
                </div>
                <div style="padding-top:0px !important;" class="card text-white bg-primary d-md-down-none" style="width:44%">
                  <div class="card-body text-center animated fadeIn">
                    
                      <img style="margin-top:0 !important;vertical-align: top !important" width="150px" src="../../../assets/img/avatars/forgot-face.png">
                     <div align="left" class="text-steps">
                       <div  style="margin-top:20px !important;">
                      <span style="text-align: left !important; font-size: 16px;">Forgot your password?</span>
                    </div>
                    <div style="margin-top:10px !important;">
                      <span style="text-align: left !important; font-size: 16px;">Don't worry, just follow the steps:</span>
                    </div>
  
                      <ol>
                          <li>
                            Enter your email
                          </li>
  
                          <li>
                            Click  <span style="font-style: italic"> 'Submit' </span> 
                          </li>
  
                          <li>
                            Check your Email
                          </li>
  
                          <li>
                            Click <span style="font-style: italic">'reset password'</span> link
                          </li>
  
                      </ol>
                    </div>
                  </div>
                  
                </div>
                  
              </div>
              
            </div>
            
          </div>
          
        </div>
        
      </main>
      
      </div>
      
      </div>
    
      <div class="app-footer">
          <span><a href="http://www.TalkToLeadsNow.com" target="_blank" >TalkToLeadsNow</a> &copy; {{this.today | date: 'yyyy'}}.</span>
          <span class="ml-auto">Powered by <a href="https://www.dubseo.co.uk/" target="_blank">DubSEO</a></span>
      </div>