<div class="container-fluid" style="background:white;margin:0;padding:0;width:100%; font-family: 'Open Sans', sans-serif !important;">


  <header>
    <div class="header-top">
      <div class="container align-items-start"> <a class="navbar-brand" href="https://www.talktoleadsnow.com/index.html"><img src="../../../assets/ttln/images/logo.png" class="img-fluid"></a>
        <ul class="header-social">
          <li> <a href="https://www.facebook.com/TalkToLeadsNow/" target="_blank"><span class="fa fa-facebook"></span></a> </li>
          <li> <a href="https://twitter.com/talktoleadsnow" target="_blank"><span class="flaticon-twitter"></span></a> </li>
          <li> <a href="https://www.instagram.com/talktoleadsnow/" target="_blank"><span class="flaticon-instagram"></span></a> </li>
          <li> <a href="https://www.talktoleadsnow.com/contact.html"><span class="flaticon-mail"></span></a> </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark navbar-inverse bg-inverse static-top">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
          <ul class="navbar-nav main-menu">
            <li class="menu1 "> <a href="https://www.talktoleadsnow.com/index.html">HOME</a></li>
            <li class="menu2"> <a href="https://www.talktoleadsnow.com/index.html#features">Features</a> </li>
            <li class="menu4"> <a href="https://www.talktoleadsnow.com/index.html#pricing">Pricing</a> </li>
            <li class="menu6"> <a [routerLink]="['/signup']">Sign Up</a></li>
            <li class="menu7 current-menu-item"> <a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
      <section class="inn-container pd custom-inn-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-7 col-sm-12 mx-auto">
                      <div class="form">
                          <h2>RESET PASSWORD</h2>
            <form class="form-signin" (submit)="onSubmit(username.value)" name="loginForm">
                          <p class="float-left text-white">Please enter your email address</p>
              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                  </div>
                  <input #username type="text" class="form-control" name="username" id="username" placeholder="Enter your Email "/>
                        </div>
              </div>
  
                          
                          <p class="text-white"><a [routerLink]="['/login']">Back to Login</a></p>
  
                          <button [disabled]="isSubmit" style="margin-right : 10px !important;margin-top:0px !important" class="btn btn_login" type="submit">Submit</button>
  
                          <div class="spinner" *ngIf="isSubmit">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                          </div>
  
             </form>
  
                      </div>
  
  
  
  
          </div>
        </div>
      </div>
      
      </section> 
   
   <div class="clearfix"></div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="footer-social">
              <ul>
                  <li><a class="facebook social-icon" href="https://www.facebook.com/TalkToLeadsNow//" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter social-icon" href="https://twitter.com/talktoleadsnow" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="instagram social-icon" href="https://www.instagram.com/talktoleadsnow/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="envelope social-icon" href="#" title="envelope"><i class="fa fa-envelope"></i></a></li>		
              </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-5">
         <p>© Copyright 2018 - Talk To Leads Now</p>
        </div>
        <div class="col-lg-6 col-md-7">
          <ul class="footer-nav">
            <li><a href="#">Blog</a></li>
            <li><a href="https://www.talktoleadsnow.com/contact.html">Contact</a></li>
            <li><a href="https://www.talktoleadsnow.com/terms-of-condition.html">Terms of Condition</a></li>
            <li><a href="https://www.talktoleadsnow.com/terms-of-use.html">Terms of Use</a></li>
            <li><a href="https://www.talktoleadsnow.com/privacy-policy.html">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  </div>