<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card card-accent-primary" >
        <div class="card-body pb-0 mycard">

          <div align="center" class="item item-text-wrap"  (click)="createNewWidget()">
            <div class="row">
              <div class="col-md-12">
                   <mat-icon aria-label="add new widget"> add</mat-icon>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 New Widget
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->


    <div *ngIf="this.myWidgets && this.myWidgets.length==0" class="col-sm-6 col-lg-3">

      <div class="mycard-showhelp fadeIn animated">
            <div align="center" class="item item-text-wrap">
              <div class="row">
                <div class="col-md-12">
                     You have no widgets yet
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                    Create your first one!
                </div>
             </div>
              </div>
          </div>

          <div *ngIf="windowWidth > 576px" class="arrow-right fadeIn animated"></div>
          <div *ngIf="windowWidth <= 576px" class="arrow-up fadeIn animated"></div>

      </div><!--/.col-->
  

    <div  *ngIf="!myWidgets" class="col-sm-6 col-lg-3">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div *ngFor="let widget of myWidgets; let i = index" class="col-md-4 col-sm-6 col-lg-3">
      <div  class="card step card-round" [class.show]="this.myWidgetsShow[i]" (dblclick)="gotoWidget(widget.id)" [style.color]="widget.colorText" [style.background-color]="widget.colorWidget">
        <div class="card-body pb-0 mywidget">

          <mat-icon [class.disableWidget]="widget.status=='Disabled'" *ngIf="!widget.statusChanging && !widget.isDeleting" aria-label="user"  class="widget-active-icon" style="color:'widget.colorText'">{{getStatusIcon(widget.status)}}</mat-icon>
          <span [class.disableWidget]="widget.status=='Disabled'" *ngIf="!widget.statusChanging && !widget.isDeleting" class="widget-text-status">{{widget.status}} </span>
          <span *ngIf="widget.statusChanging" class="widget-text-status"> Updating...</span>
          <span *ngIf="widget.isDeleting" class="widget-text-status"> Deleting...</span>


          <!-- <mat-spinner  *ngIf="widget.statusChanging"  diameter="20"></mat-spinner> -->

          <!-- <div [style.color]="widget.colorText" [style.background-color]="widget.colorText" class="spinner" *ngIf="widget.statusChanging">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
          </div> -->

          <div class="btn-group float-right" dropdown>
            <button type="button" [style.color]="widget.colorText"  class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right"  *dropdownMenu>
              <a class="dropdown-item"  [routerLink]="['/editwidget', widget.id]">Edit...</a>
              <a class="dropdown-item" (click)="ChangeStatus(widget)" >{{getStatusText(widget.status)}}</a>
              <a class="dropdown-item" (click)="DeleteWidget(widget)" >Delete Widget</a>
            </div>
          </div>
          <div [class.disableWidget]="widget.status=='Disabled'" class="text-widgetname" (click)="gotoWidget(widget.id)">{{widget.widgetName}}</div>
          <div  [class.disableWidget]="widget.status=='Disabled'" class="text-value">{{widget.callsCount}} <span class="text-received-calls">received calls</span></div>

        </div>
      </div>
    </div><!--/.col-->


      </div><!--/.row-->
</div>
