// Variable overrides


$navbar-bg :#2f353a;
$navbar-color : #ff6600;;
$navbar-hover-color: #ff954e;
$navbar-active-color:#ff954e;
$navbar-brand-bg : white;
$navbar-brand-width : 200px;


$primary: #f05b23;
$secondary : #c8ced3;
$success  : #218f1d;
$danger : #f86c6b;
$warning  : #ffc107;
$info : #63c2de;
$light : #f0f3f5;
$dark : #2f353a;

