// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "~ng-pick-datetime/assets/style/picker.min.css";

// If you want to add something do it here
@import "custom";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

.toast
{
  opacity: 1;
  font-size : 16px;
  border: 1px solid rgba(0,0,0,0.2);
  top : 2px;
}