<form (submit)="onSubmit(password.value,newpassword.value,rnewpassword.value)">


<div class="animated fadeIn">
  <div class="row">
          <div class="col-sm-6">
              <div class="card card-accent-primary">
                  <div class="card-header">
                      <strong>Change Password</strong>  
                    </div>

                    <div class="card-body">
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input #password [disabled]="isSubmit" type="password" class="form-control" placeholder="Current Password" autocomplete="off" [formControl]="pass" >
                              </div>
                              <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input #newpassword [disabled]="isSubmit" type="password" class="form-control" placeholder="New Password" autocomplete="off" [formControl]="newpass">
                              </div>
                              <div class="input-group mb-4">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                      </div>
                                      <input #rnewpassword [disabled]="isSubmit" type="password" class="form-control" placeholder="Retype New Password" autocomplete="off" [formControl]="rnewpass">
                                    </div>                       
                            
                </div><!--/.row-->
                <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                      <button [disabled]="isSubmit" type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                        <div *ngIf="isSubmit" class="spinner" >
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                  </div>
                  </div>
     </div>
    </div><!--/.col-->

  </div>
</div>
      
</form>